html, body {
	height: 100%;
	width: 100%
}


.navbar-brand{
	font-family: Arial, Verdana;

	color: white;
}
.navbar{
	opacity: 0.8;
	border:0;
}
.navbar-inverse .navbar-brand{
	color: white;

}
.navbar-inverse .navbar-brand:hover{
    text-shadow: 1px 1px black;
	color: #009933;

}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a:hover{
    text-shadow: 1px 1px black;
	color: #009933;
}
.navbar-inverse .navbar-nav > li > a {
    font-family: Times New Roman;
    font-size: 18px;
    color: white;

}
a{
    font-family:Times New Roman;
    font-size: 18px;

}
.-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
	background: #009933;
	color: white;


}


section.home-section{
	height: auto !important;
	min-height: 100%;
	overflow: hidden;
	padding-top: 150px;
	background: url(meCover.jpg) no-repeat center;
	background-size: cover;
	/*opacity: 0.5;*/

}


@media screen and (max-width: 300px) {
    section.home-section{
        height: auto !important;
        min-height: 100%;
        overflow: hidden;
        padding-top: 150px;
        background: url(meCover_2.jpg) no-repeat center;
        background-size: cover;
    }
    h1.rcorners2 {
        text-shadow: 3px 3px black; 
        color: #009933;
        background-color: transparent;
        margin-top: 50px;
        line-height:30px;
        border-radius: 25px;
        position: center;
        padding: 20px; 
        width: 90%;
        /*height: 90px; */

}

}

.about{
    font-size: 18px;
    font-family: Times New Roman;
    text-indent: 25px;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


@media screen and (min-width: 301px) and (max-width: 570px) {
    section.home-section{
        height: auto !important;
        min-height: 100%;
        overflow: hidden;
        padding-top: 150px;
        background: url(meCover_3.jpg) no-repeat center;
        background-size: cover;
    }
    h1.rcorners2 {
        text-shadow: 3px 3px black;
        /*opacity: 0.8;*/
        color: #009933;
        background-color: transparent;
        margin-top: 50px;
        line-height:30px;
        border-radius: 25px;
        position: center;
        padding: 20px; 
        width: 80%;
       /* height: 110px; */
}
}
@media screen and (min-width: 571px) and (max-width: 720px) {
    section.home-section{
        height: auto !important;
        min-height: 100%;
        overflow: hidden;
        padding-top: 150px;
        background: url(meCover_4.jpg) no-repeat center;
        background-size: cover;
    }
    h1.rcorners2 {
        text-shadow: 3px 3px black;
        /*opacity: 0.8;*/
        color: #009933;
        background-color: transparent;
        margin-top: 50px;
        line-height:30px;
        border-radius: 25px;
        position: center;
        padding: 20px; 
        width: 80%;
       /* height: 110px; */
}
}

@media screen and (min-width: 721px) and (max-width: 1300px) {
    section.home-section{
        height: auto !important;
        min-height: 100%;
        overflow: hidden;
        padding-top: 150px;
        background: url(meCover_flip.jpg) no-repeat center;
        background-size: cover;
    }
    h1.rcorners2 {
        text-shadow: 3px 3px black;
        /*opacity: 0.8;*/
        color: #009933;
        background-color: transparent;
        margin-top: 50px;
        line-height:30px;
        border-radius: 25px;
        position: center;
        padding: 20px; 
        width: 80%;
       /* height: 110px; */
}
}

.rcorners2 {
	/*opacity: 0.8;*/
    text-shadow: 3px 1px black;
	color: #009933;
	background-color: transparent;
    margin-top: 50px;
    line-height:30px;
    border-radius: 25px;
    position: center;
    padding: 20px; 
    width: 70%;
    /*height: 80px; */

}

.home-section h1{
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
}

.home-section p{
	font-family: Quaver,Verdana;
	color: dark-gray;
	font-size: 35px;

	text-align: center;

}
.about-section{
	height: auto !important;
	min-height: 100%;
	overflow: hidden;

}
.contact-section{
	height: auto !important;
	min-height: 100%;
	overflow: hidden;
		padding-top: 50px;
}

.div-table{
  display:table;         
  width:auto;       
  border:none;         
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  width:auto;
  clear:both;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:200px;         

}
.weath {
    text-align: center;
    color: blue;
  }

